@model IEnumerable<Prospectos1.Models.prospecto>

@{
    ViewData["Title"] = "Prospectos";
}

<h1>Prospectos</h1>

<p>
    <a asp-action="Create">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellidom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colonia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CodigoP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RFC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Colonia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RFC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
